*{
	font-family: arial, sans-serif;
}
html{
	background: url(../img/produce.png) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

body{
	width: 960px;
	margin-right: auto;
	margin-left:  auto;
}

header{
	color: white;
	text-align: center;
}

span{
	margin-left: 10px;
	font-weight: bold;
}

.hide{
	display: none;
}

.clear{
	clear: both;
}

#container{
	background: url(../img/notepaper.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 560px;
	height: 670px;
	margin-left: 200px;
	padding-top: 0px;
	text-align: center; 
	float: center;
	display: inline-block;
}

#notepadtop{
	margin-top: -2px;
	margin-bottom: 10px;
	font-weight: bolder;
	font-size: 30px;
	text-decoration: underline;
	padding-top: 25px;
}

#addItems{
	height: 20px;
	width: 250px;
}

#basket{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 22px;
}

#list{
	list-style-type: none;
	text-align: left;
}

.items{
	margin-bottom: 15px;
}

.collected{
	color: #B2B2B2;
	text-decoration: line-through;
	font-weight: normal;
}

.listButton{
	background: green;
	color: white;
}

aside{
	float: right;
	display: inline-block;
	margin-right: 110px;
	margin-top: 50px;
}

button{
	background: red;
	color: white;
	border-radius: 5px;
}

#delete{
	height: 80px;
	width: 80px;
}

